<div class="about-text">
CUBER IS AN EXPERIMENT WITH 3D RENDERED OBJECTS AND WEBSOCKETS. IT'S ONLINE INTERFACE CAN BE USED TO MANIPULATE REAL
  WORLD OBJECTS IF CONNECTED.
  <br>
  <br>
  HOW IT WORKS?  <br>
  LEGO MINDSTORM, ROBOT INVENTOR KIT 51515 (BASED ON MINDCUBER DESIGN) HUB HAS INSTRUCTIONS HOW TO MANIPULATE THE
  CUBE (TWISTS, TURNS, SCANNING ETC.) AND CONNECTS WIRELESSLY THOUGH BLUETOOTH TO RASPBERRY PI 4 FOR INSTRUCTIONS.
  <br><br>
  RASPBERRY PI 4 IS JUST A PROXY SERVER FOR BLEUTOOTH INTERFACE AND TRANSMITS DATA BETWEEN LEGO ROBOT TO WEB OVER
  HTTPS TO A BACKEND SERVER.
  <br><br>
  BACKEND SERVER IS A JAVA SPRING BOOT APPLICATION THAT KEEPS ROBOT, FRONTEND, DATABASE AND ITSELF UPDATED.
  <br><br>
  FRONTEND IS A ANGULAR PROJECT THOUGH WHICH THE USED CAN FIDDLE WITH THE CUBE. IF THE ROBOT IS OFFLINE USER CAN
  STILL FIDDLE AROUND WITH THE CUBE INTERFACE BUT CAN'T USE THE ROBOT IRL.
  <br><br>
  TO KEEP ALL INSTANCES UPDATED ALL CONNECTIONS ARE GOING THOUGH WEBSOCKETS AND ARE SECURED BY UNIQUE TOKENS.

  WHAT CAN I DO?
</div>
