<div class="greenbg" [ngClass]="{'show' : isSolved, 'hide': !isSolved}"></div>
<div class="graybg" [ngClass]="{'show' : !isSolved, 'hide': isSolved}"></div>

<app-nav-bar></app-nav-bar>

<div class="cube-container" id="container" #cube ></div>

<app-free-play></app-free-play>

<!--<div class="control-buttons">-->
<!--  <button mat-raised-button color="primary" (click)="onRotate()" >autoRotate</button>-->
<!--  <button mat-raised-button color="primary" (click)="showLabels()" >showLabels</button>-->
<!--  <button mat-raised-button color="primary" (click)="hideLabels()" >hideLabels</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetBling()" >presetBling</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetWireframe()" >presetWireframe</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetHighlightCore()" >presetHighlightCore</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetTextAnimate()" >presetTextAnimate</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetHighlightWhite()" >presetHighlightWhite</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetPurty()" >presetPurty</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetNormal()" >presetNormal</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetHighlightEdges()" >presetHighlightEdges</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetHighlightCorners()" >presetHighlightCorners</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetLogo()" >presetLogo</button>-->
<!--  <button mat-raised-button color="primary" (click)="presetIds()" >presetIds</button>-->
<!--  <button mat-raised-button color="primary" (click)="showGray()" >showGray</button>-->
<!--  <button mat-raised-button color="primary" (click)="paintDifferent()" >paintDifferent</button>-->
<!--  <button mat-raised-button color="primary" (click)="turnRegular()" >turnRegular</button>-->
<!--  <button mat-raised-button color="primary" (click)="turnGray()" >turnGray</button>-->
<!--  <button mat-raised-button color="primary" (click)="logCube()" >logCube</button>-->
<!--  <button mat-raised-button color="primary" (click)="getCubeCurrentState()" >getCubeCurrentState</button>-->
<!--</div>-->
