.cube-container {
  transform: scale(1);
  margin: 27% 0 0 0;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 27px;
}

.cube-container {
  top: 0;
  margin-top: -12px;
  position: absolute;
}

.letter {
  opacity: 0;
  transition: opacity 0.2s;
}
