<div class="greenbg" [ngClass]="{'show' : isSolved, 'hide': !isSolved}"></div>
<div class="graybg" [ngClass]="{'show' : !isSolved, 'hide': isSolved}"></div>

<app-nav-bar></app-nav-bar>

<ng-container>
  <app-controls></app-controls>
</ng-container>

<ng-container *ngIf="userOnTab == 3">
  <app-about style="position: relative;" ></app-about>
</ng-container>

<div style="position: relative;
    margin: 43px 0 0 0; z-index: 2">
  <button id="connect" class="btn btn-default" type="button"  (click)="connect()">Connect</button>
  <button id="disconnect" class="btn btn-default" type="submit" (click)="disconnect()">Disconnect</button>

  <br>
  <br>
  <input type="text" id="name" name="name" class="form-control" #input />
  <br>
  <button id="send" class="btn btn-default" type="button" (click)="sendName(input.value)">Send</button>
  <br>
  <div *ngFor="let greeting of greetings">
    {{greeting}}
  </div>
</div>

<div class="cube-container" id="container" #cube ></div>

