<div class="title">
  <span class="letter">C</span>
  <span class="letter">U</span>
  <span class="letter">B</span>
  <span class="letter">E</span>
  <span>R</span>
</div>

<div class="tab-container">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab [label]="'group'">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'group'" class="group-icon"></mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab [label]="'person'">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'person'"></mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab [label]="'robot'">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'robot'"></mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab [label]="'leaderboard'">
      <ng-template mat-tab-label >
        <mat-icon [svgIcon]="'leaderboard'"></mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab [label]="'about'">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'help'"></mat-icon>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="status-container alternate-theme">
  <div class="left-container alternate-theme">
    <div class="col-header">connections</div>
    <div class="row">Server status: {{backendConnection$|async}}</div>
    <div class="row">Robot status:</div>
    <div class="row">Players connected: {{connectedUsersCount$|async}}</div>
    <div class="row">Lobbies active:</div>
  </div>

  <div class="middle-container">
    <div class="col-header">player info</div>
    <div class="middle-contents">
      {{scanResults$|async}}
    </div>
  </div>

  <div class="right-container">
    <div class="col-header">cube effects</div>
    <div class="right-icons">
        <mat-icon [svgIcon]="'3d'" class="status-icon"
                  [ngClass]="{'show-status' : isLocked,'hide-status' : !isLocked}"></mat-icon>
        <mat-icon [svgIcon]="'cast_connected'" class="status-icon"
                  [ngClass]="{'show-status' : isCastConnected,'hide-status' : !isCastConnected}"></mat-icon>
      </div>
</div>
</div>
<br>
<br>
<br>

<ng-template #noConnection>
  <mat-icon [svgIcon]="'close'" [color]="'warn'" ></mat-icon>
</ng-template>

<ng-template #connected>
  &nbsp;<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
</ng-template>
