.live {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: #f61a1a;
  }
  50% {
    color: white;
  }
  100% {
    color: #f61a1a;
  }
}


.title {
  position: relative;
  font-family: Cuber, serif;
  text-align: center;
  padding: 1% 3% 3% 3%;
}

.letter {
  letter-spacing: 15vw;
}

.tab-container {
  display: flex;
  justify-content: center;
}

.mat-tab-body.mat-tab-body-active {
  position: absolute !important;
}
