<div class="title">
  <span class="letter">C</span>
  <span class="letter">U</span>
  <span class="letter">B</span>
  <span class="letter">E</span>
  <span>R</span>
</div>

<div class="tab-container">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'videogame'"></mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'cast'"></mat-icon><span style="font-size: 22px" [ngClass]="{'live' : isLiveSolving}">·</span>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'leaderboard'"></mat-icon>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'info'"></mat-icon>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
