
<div class="graydient" >
<div id="container" class="cube-container"></div>
</div>

<div class="control-buttons">
  <button mat-raised-button color="primary" (click)="onRotate()" >autoRotate</button>
  <button mat-raised-button color="primary" (click)="showLabels()" >showLabels</button>
  <button mat-raised-button color="primary" (click)="hideLabels()" >hideLabels</button>
  <button mat-raised-button color="primary" (click)="onShuffle()" >onShuffle</button>
  <button mat-raised-button color="primary" (click)="redo()" >redo</button>
  <button mat-raised-button color="primary" (click)="undo()" >undo</button>
  <button mat-raised-button color="primary" (click)="ready()" >ready</button>
  <button mat-raised-button color="primary" (click)="presetBling()" >preset</button>
</div>
