<div class="control-buttons">
  <button mat-raised-button color="primary" (click)="onRotate()" >autoRotate</button>
  <button mat-raised-button color="primary" (click)="showLabels()" >showLabels</button>
  <button mat-raised-button color="primary" (click)="hideLabels()" >hideLabels</button>
  <button mat-raised-button color="primary" (click)="onShuffle()" >onShuffle</button>
  <button mat-raised-button color="primary" (click)="redo()" >redo</button>
  <button mat-raised-button color="primary" (click)="undo()" >undo</button>
  <button mat-raised-button color="primary" (click)="ready()" >ready</button>
  <button mat-raised-button color="primary" (click)="presetBling()" >presetBling</button>
  <button mat-raised-button color="primary" (click)="presetWireframe()" >presetWireframe</button>
  <button mat-raised-button color="primary" (click)="presetHighlightCore()" >presetHighlightCore</button>
  <button mat-raised-button color="primary" (click)="presetTextAnimate()" >presetTextAnimate</button>
  <button mat-raised-button color="primary" (click)="demo()" >demo</button>
  <button mat-raised-button color="primary" (click)="presetHighlightWhite()" >presetHighlightWhite</button>
  <button mat-raised-button color="primary" (click)="presetDemoStop()" >presetDemoStop</button>
  <button mat-raised-button color="primary" (click)="presetPurty()" >presetPurty</button>
  <button mat-raised-button color="primary" (click)="presetNormal()" >presetNormal</button>
  <button mat-raised-button color="primary" (click)="presetHighlightCenters()" >presetHighlightCenters</button>
  <button mat-raised-button color="primary" (click)="presetHighlightEdges()" >presetHighlightEdges</button>
  <button mat-raised-button color="primary" (click)="presetHighlightCorners()" >presetHighlightCorners</button>
  <button mat-raised-button color="primary" (click)="presetLogo()" >presetLogo</button>
  <button mat-raised-button color="primary" (click)="presetIds()" >presetIds</button>
  <button mat-raised-button color="primary" (click)="showGray()" >showGray</button>
  <button mat-raised-button color="primary" (click)="paintDifferent()" >paintDifferent</button>
  <button mat-raised-button color="primary" (click)="turnRegular()" >turnRegular</button>
  <button mat-raised-button color="primary" (click)="turnGray()" >turnGray</button>
  <button mat-raised-button color="primary" (click)="tweenToStart()" >tweenToStart</button>
  <button mat-raised-button color="primary" (click)="solve()" >solve</button>
</div>

