.status-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
  z-index: 1;
}

.mid-controls-container {
  position: absolute;
  justify-content: center;
  width: 100%;
  display: flex;
  bottom: 1rem;
  z-index: 1;
  transition: opacity 1s;
}

.side-controls-container {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 -1rem;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 1;
}

.control-button {
  margin: 5px 5px;
}

.status-icon {
  opacity: 0.5;
  padding: 0 5px;
  transition: filter 0.3s;
}

.show-status {
  filter: blur(0px);
}

.hide-status {
  filter: blur(100px);
}

.right-control-button {
  margin: 5px 0;
}

.button-active {
  background-color: #1976d2 !important;
}

mat-slider {
  width: 50%;
}

.mid-slider {
  position: absolute;
  justify-content: center;
  width: 100%;
  display: flex;
  bottom: 3rem;
  z-index: 1;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

/*:host ::ng-deep .mat-slider-thumb-label {*/
/*  transform: rotate(45deg) !important;*/
/*  border-radius: 50% 50% 0 !important;*/
/*}*/

/*:host ::ng-deep .mat-slider-thumb {*/
/*  transform: scale(0) !important;*/
/*}*/

/*:host ::ng-deep .mat-slider-thumb-label-text {*/
/*  opacity: 1 !important;*/
/*}*/

:host ::ng-deep .mat-slider-disabled .mat-slider-thumb-label {
  display: flex !important;
  opacity: 0.5 !important;
}

::ng-deep .alternate-theme .mat-slider-disabled .mat-slider-track-fill .mat-slider-thumb-label-text {
  background-color: #1976d2 !important;
  opacity: 0.5 !important;
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

::ng-deep .alternate-theme .mat-slider-thumb-label-text {
    opacity: 1 !important;
}

/*:host ::ng-deep .mat-slider-disabled .mat-slider-thumb {*/
/*  border-width: 0 !important;*/
/*  transform: scale(0) !important;*/
/*}*/

:host ::ng-deep .alternate-theme .mat-slider-disabled .mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.26) !important;
}

:host ::ng-deep .mat-slider-thumb-label {
  width: 34px !important;
  height: 34px !important;
}

:host ::ng-deep  .mat-slider-horizontal .mat-slider-thumb-label {
  right: -17px  !important;
  top: -51px  !important;
}
